@using hackathonishbd.Models
@{
    Calificacion min = @ViewData["Calificación más alta"] as Calificacion;
    Calificacion max = @ViewData["Calificación más baja"] as Calificacion;
}
<form action="/Maestro/ConsultaAlumno" method="GET">
    <div class="form-row">
        <div class="form-col">
            <select class="form-control" name="Busqueda">
                <option value="Nombre">Nombre</option>
                <option value="Apellido">Apellido</option>
            </select>
        </div>
        <div class="form-col">
            <input class="form-control" type="text" name="Valor" autofocus=""/>
        </div>
        <div class="form-col">
            <input class="btn btn-secondary" type="submit" value="Buscar">
        </div>
        <div style="float:right;">
            <a class="btn btn-primary" href="/Maestro/AltaAlumno">Nuevo</a> 
        </div>
    </div>
</form>
<br/>
<label>Total</label>
<label>Promedio</label>
<a href="#@max.IdAlumno">@max.Valor</a>
<a href="#@min.IdAlumno">@min.Valor</a>
<ul class="list-group"> 
    @foreach (Usuario usuario in ViewData["Alumnos"] as List<Usuario>)
    {
        <li id="@usuario.IdUsuario" class="list-group-item">
            <div class="form-group">
                <label for="IdUsuario">Id Alumno</label>
                <input class="form-control" type="text" pattern="[0-9]+" name="IdUsuario" placeholder="Id Alumno" value="@usuario.IdUsuario"/>
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input class="form-control" type="text" pattern="[A-z ]+" name="Nombre" placeholder="Nombre" value="@usuario.Nombre"/>
            </div>
            <div class="form-group">
                <label for="Apellido">Apellido</label>
                <input class="form-control" type="text" pattern="[A-z ]+" name="Apellido" placeholder="Apellido" value="@usuario.Apellido"/>
            </div>
            <div class="form-group">
                <label for="Clave">Clave</label>
                <input class="form-control" type="password" name="Clave" placeholder="Clave" value="@usuario.Clave"/>
            </div>
            <div class="form-group">
                <label for="Sexo">Sexo</label>
                <input class="form-control" type="text" pattern="[MF]" name="Sexo" placeholder="Sexo" value="@usuario.Sexo"/>
            </div>
            <div class="form-group">
                <label for="Activo">Activo</label>
                <input class="form-control" type="checkbox" name="Activo" value="true"/>
            </div>
            <div class="form-group">
                <a href="Maestro/CalificacionAlumno/" class="btn btn-primary">Capturar calificación</a>
            </div>
            <div class="form-group">
                <a href="Maestro/EliminarAlumno/" class="btn btn-primary">Eliminar</a>
            </div>
        </li>
    }
</ul>