@using hackathonishbd.Models
@{
    Calificacion max = @ViewData["Calificación más alta"] as Calificacion;
    Calificacion min = @ViewData["Calificación más baja"] as Calificacion;
    int maxValor = max?.Valor ?? 0;
    int minValor = min?.Valor ?? 0;
    int maxId = max?.IdAlumno ?? 0;
    int minId = min?.IdAlumno ?? 0;
}
<form action="/Maestro/ConsultaAlumno" method="GET">
    <div class="form-row">
        <div class="form-col">
            <select class="form-control" name="Busqueda">
                <option value="Nombre">Nombre</option>
                <option value="Apellido">Apellido</option>
            </select>
        </div>
        <div class="form-col">
            <input class="form-control" type="text" name="Valor" autofocus=""/>
        </div>
        <div class="form-col">
            <input class="btn btn-secondary" type="submit" value="Buscar">
        </div>
        <div style="float:right;">
            <a class="btn btn-primary" href="/Maestro/AltaAlumno">Nuevo</a> 
        </div>
    </div>
</form>
<br/>
<label>Total:</label><label>@ViewData["Total"]</label>
<br/>
<label>Promedio:</label><label>@ViewData["Promedio"]</label>
<br/>
<label>Máximo: </label><label><a href="#@maxId">@maxValor</a></label>
<br/>
<label>Mínimo: </label><label><a href="#@minId">@minValor</a></label>
<br/>
<ul class="list-group"> 
    @foreach (AlumnoCalificacion x in ViewData["AlumnosCalificaciones"] as List<AlumnoCalificacion>)
    {
        <li id="@x.Alumno.IdUsuario" class="list-group-item">
            <div class="form-group">
                <label for="IdUsuario">Id Alumno</label>
                <input class="form-control" type="text" pattern="[0-9]+" name="IdUsuario" placeholder="Id Alumno" value="@x.Alumno.IdUsuario"/>
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input class="form-control" type="text" pattern="[A-z ]+" name="Nombre" placeholder="Nombre" value="@x.Alumno.Nombre"/>
            </div>
            <div class="form-group">
                <label for="Apellido">Apellido</label>
                <input class="form-control" type="text" pattern="[A-z ]+" name="Apellido" placeholder="Apellido" value="@x.Alumno.Apellido"/>
            </div>
            <div class="form-group">
                <label for="Clave">Clave</label>
                <input class="form-control" type="password" name="Clave" placeholder="Clave" value="@x.Alumno.Clave"/>
            </div>
            <div class="form-group">
                <label for="Sexo">Sexo</label>
                <input class="form-control" type="text" pattern="[MF]" name="Sexo" placeholder="Sexo" value="@x.Alumno.Sexo"/>
            </div>
            <div class="form-group">
                <label for="Activo">Activo</label>
                @if (x.Alumno.Activo)
                {
                <input class="form-control" type="checkbox" name="Activo" value="true" checked="true"/>
                }
                else
                {
                <input class="form-control" type="checkbox" name="Activo" value="true"/>
                }
            </div>
            @if (x.Calificacion == null)
            {
                <div class="form-group">
                    <label for="Calificacion">Calificacion</label>
                    <input class="form-control" type="text" name="Calificacion" placeholder="Calificacion" value="0"/>
                </div>
                <div class="form-group">
                    <a href="/Maestro/CalificacionAlumno/@x.Alumno.IdUsuario" class="btn btn-primary">Capturar calificación</a>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="Calificacion">Calificacion</label>
                    <input class="form-control" type="text" name="Calificacion" placeholder="Calificacion" value="@x.Calificacion.Valor"/>
                </div>
                <div class="form-group">
                    <a href="/Maestro/ModificarCalificacionAlumno/@x.Calificacion.IdCalificaciones" class="btn btn-primary">Capturar calificación</a>
                </div>
            }
            <div class="form-group">
                <a href="/Maestro/BajaAlumno/@x.Alumno.IdUsuario" class="btn btn-primary">Eliminar</a>
            </div>
        </li>
    }
</ul>